<h1 class='head'>FRIENDS VIEW</h1>
<header class='header'>
  <img src="dev-mt-in/images/Icons/Back-Arrow.svg" alt="">
  <h1>DevMoutain</h1>
  <img src="dev-mt-in/images/Icons/Ham.svg" alt="">
</header>

<section class='info'>
  <div class='leftside'>
    <h1 class='top1'>Chris </h1>
    <h1 class='top2'> Johnson</h1>
    <h3 class='top3'> Some Awesome Tagline </h3>

    <p class='para'>Christopher Duan Johnson (born September 23, 1985) is an American football running back who is currently a free agent. He was drafted by the Tennessee Titans in the first round of the 2008 NFL Draft. He played college football at East Carolina. Johnson has also played for the New York Jets and Arizona Cardinals.</p>

    <p class='para'>Unheralded out of Orlando, Florida, Johnson emerged as a senior for East Carolina University where he broke out for 2,960 all-purpose yards and 24 touchdowns. He was drafted by the Tennessee Titans 24th overall in 2008, after running a then record-tying 4.24 seconds in the 40-yard dash at the NFL Combine.[1] In his second year of professional football, he won the NFL rushing title with 2,006 yards (the sixth of only seven players ever to break 2,000), and broke Marshall Faulk's record of total yards from scrimmage with 2,509.[2] This earned him the nickname CJ2K. He has been to three Pro Bowls and was the NFL's Offensive Player of the Year in 2009.</p>
  </div>

  <div class='rightside2'>
    <div class='friendsbar'>
      <div class='abox'>Accending</div>
      <h1>Friends</h1>
      <img src="dev-mt-in/images/Icons/Search.svg" alt="">
    </div>
        <div class='pics' style='{{img1}} {{bgi}}'></div>
        <div class='pics' style='{{img2}} {{bgi}}'></div>
        <div class='pics' style='{{img3}} {{bgi}}'></div>
        <div class='pics' style='{{img4}} {{bgi}}'></div>
        <div class='pics' style='{{img5}} {{bgi}}'></div>
        <div class='pics' style='{{img6}} {{bgi}}'></div>
  </div>

</section>
